/* .beneficios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */

.beneficios {
    margin-top: 100px;
}

.logo {
    width: 150px;
}

.slider {
    width: 100%;
    height: 500px;
}